
<link rel="stylesheet" href="/css/user/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>OVERVIEW</h3>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">TERMS</a></li>
                <li><a href="#">NEWS</a></li>
                <li><a href="#">EVENTS</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>MORE</h3>
            <ul>
                <li><a href="#">COLLECTION</a></li>
                <li><a href="#">ENQUIRY</a></li>
                <li><a href="#">UPDATES</a></li>
                <li><a href="#">MEMBERSHIP</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>CONTACT</h3>
            <ul>
                <li><a href="#">Racquet Soug.Com</a></li>
                <li><a href="mailto:racquetsoug@gmail.com">racquetsoug@gmail.com</a></li>
                <li><a href="tel:+91483-1556-2255">+ 0483 1556 2255</a></li>
                <li><a href="tel:+91-999-369-2255">+ 91 999 369 2255</a></li>
                <li>Edapally Ernakulam Kerala India</li>
            </ul>
        </div>
    </div>
    <div class="social-links">
        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
    </div>
</footer>
<script src="/scripts/user/footer.js"></script>